*{
padding: 0;
margin:0;
}
.top_header_left{
    display: block;
}
.top_header_right{
    display: blocke;

}
.top_header_left a:hover{
    transition: 0.5s all;
    color: red;
}
.top_header_right a:hover{
    transition: 0.5s all;
    color: red;
}
.top_full{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px 1px 15px;
    background: rgba(0, 0, 255, 0.616);
}
.top_full ul{
 list-style: none; 
}
.top_full li {
    display: inline;
    margin: 10px 10px;
    color: white;
    
}
.top_full a {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none !important;
}
.top_full li a :hover {
  transition: all 0.5s;
}
.header_container{
    width: 100%;
    /* background: rgba(255, 0, 0, 0.527); */
    display: flex;
    justify-content: space-between;
}
.header_logo{
display: block;
font-weight: 500;
}
.header_logo>a:hover{
    text-decoration: none;
    font-weight: 500;
    color: red;
    transition: .5s all;
}
.header_activity{
margin: 10px 10px;
display: block;
display: flex;
align-items: center;
}
.header_activity ul {
    list-style: none;
    padding: 8px;
}
.header_activity > #menu_main > li {
    display: inline-block;
}
.header_activity a{
    padding: 10px 10px 5px 10px;
    text-decoration: none !important;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    color: black;
}
.input_search{
  font-size: px;
  padding: 10px 35px 10px 14px;
  border-radius: 30px;
  border: 2px solid #eee; 
  display: flex;

  
}
.header_activity>ul>li>a:hover{
    transition: 0.5s all;
}
.input_search input{
    border: none;
    width: 100%;
    height: 25px;
    position: relative;
    outline: none;
}
button.search-btn{
    border: none;
    position: absolute;
    right: 35px;
    font-size: 15px;
    background-color: white;
}
/* carousel-inner*/
.carousel{
    position: relative;
}
.carousel-inner button{
    padding: 14px 30px;
    font-weight: 600;
    font-size: 16px;
    color: #060606;
    border-radius: 4px;
    background: #fff;
    border: none;
    position: absolute;
    bottom: 280px;
    left: 100px;
    cursor: pointer;
}
.carousel-caption{
    font-size: 70px;
    line-height: 80px;
    font-weight: bold;
    color: #fff;
    max-width: 600px;
    position: absolute;
    top: 60px;
    left: 100px !important;
    text-align: left !important;
}
.carousel-item{
}
.header_logo{
    display: flex;
    margin: 10px 30px;
    align-items: center;
}
.header_logo a{
    text-decoration: none;
    padding: 6px;
    font-size: 30px;
    margin: 0px 5px;
}
.header_logo img{
    width: 50px;
}
#pages_dropdown{
    position: relative;
} 
#dropdown_menu{
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.438);
    display: none ;
    background-color: white;
    z-index: 1 ;
}

#dropdown_item{
    text-transform: uppercase;
    display: block;
    width: 100%;
    cursor: pointer;
    padding: 6px;
    min-width: 100px;
}

#dropdown_item:hover,
.header_activity > #menu_main > li>a:hover{
 color: red;
}
#pages_dropdowm:hover #dropdown_menu{
 display: block;
}
#box_color{
    /* display: block; */
    background-color: aquamarine;
}
/* Box_color */
.grip_area{
    margin-top: 32px;
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
    top: -80px;
}
.box_color{
    margin: 0px 15px;
    padding: 45px 35px;
    text-align: center;
    font-size: 2.5rem;
    color: white;  
    border-radius: 10px;
}
.box_color.color-1{
    background-color: #037ef3;
}
.box_color.color-2{
    background-color: #ffc949;
}
.box_color.color-3{
    background-color: #ff4f81;
}
.box_color.color-4{
    background-color: #1ee697;
}
/* feature main */
.feature_title{
    text-align: center;
    position: relative;
}
.feature_title h3 {
    display: inline-block;
    font-size: 40px;
    font-weight: 600;
}
.feature_title span {
    font-size: 40px;
    font-weight: 600;
    color: rgba(255, 0, 0, 0.801);
    margin: 0px 5px;
}
.feature_line{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.feature_line_1{
    width: 60px;
    height: 2px;
    background-color:rgba(0, 0, 0, 0.445);
}
.feature_line_2{
    width: 60px;
    height: 2px;
    background-color:rgba(0, 0, 0, 0.452);
    margin: 4px 8px;
}
.feature_context{
    display: flex;
    margin-top: 70px;
    margin-left: 30px;
    margin-right: 30px;
}
.feature_text{
    text-align: center;
    padding: 0px 15px ;
}
.feature_text span{
    font-size: 30px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color:rgba(0, 119, 255, 0.13);
    padding-top: 18px;
}
/* Blog Main */
.courses_main{
    background: rgba(0, 0, 0, 0.034);
    padding: 80px 0px;
    margin: 80px 0px;
}
.courses_info{
    margin-top:50px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 60px;
    margin-right: 60px;
}
.blog_card{
    display: block;
    max-width: 33.333%;
    padding: 15px 15px;
    z-index: 1;
}
.blog_content{
 position: relative;
}
.blog_content img{
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
   width: 100%; 
   display: block;
}
.blog_list a:first-child{
    background-color:#FFA100 ;
    color: white;
    padding: 4px 10px;
    border-radius: 2px;
    margin: 5px;
    text-decoration: none;
}
.blog_list a:nth-child(2) {
    background-color:#1DC295 ;
    color: white;
    padding: 4px 10px;
    border-radius: 2px;
    text-decoration: none;
}
.blog_list a:nth-child(3) {
    background-color:#037ef3 ;
    margin-left: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    padding: 4px 10px;
    color: white;
}
.blog_list{
    position: absolute;
    top: 15px;
    left: 30px;
    font-size: 16px;
    font-weight: 600;
}
.blog_price{
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color:rgb(255, 0, 140);
    align-items: center;
    padding-left: 2px;
    padding-top: 15px;
    font-size:1.5 rem ;
    font-weight: 500;
    line-height: 1.2;
    color: white;
    position: absolute;
    bottom: -15px;
    left: 280px;
    z-index: 1;
}
.blog_main{
    margin: 0px 0px;
    box-shadow:2px 2px rgba(0, 0, 0, 0.055);
    padding: 30px 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background: white;
}
.blog_main_top{
    /* width: 370px;
    margin-top: ; */
}
.blog_main_top ul{
    display: flex;
    justify-content: space-between !important;
    list-style: none;
}
.blog_main_top i{
    color: rgb(255, 81, 0);
}
.blog_main>h4>a{
    color:black;
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
}
.blog_main>p{
    line-height: 28px;
    font-size: 16px;
}
.blog_rating{
    display: flex;
    justify-content: space-between;
}
.blog_rating>ul{
    color: rgb(255, 174, 0);
    list-style: none;
    display:flex;
}
.blog_rating>ul>li>i{
    font-size:12px;
    margin: 0px 2px;
}
.blog_rating>a{
    color: rgba(255, 0, 0, 0.911);
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}
.courses_more{
    padding: 14px 30px;
    background-color: rgb(255, 0, 85);
    border-radius: 4px;
    text-align:center;
    margin: 50px 0px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.courses_more a{
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none !important;
/* Home */
}
.home_content{
    display: inline-block;
}
.home_card{
    display: flex;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 30px;
}
.card_icon{
    background-color: #039bf36b;
    border-radius: 50%;
    width: 67px;
    height: 67px;
    text-align: center;
    line-height: 65px;
    font-size: 28px;
    color:rgb(0, 110, 255);
    margin-right: 20px;
}
.home_block{
    display: flex;
    width: 100%;
    height: 500px;
    background-image: url(./img/bg_7.jpg);
    background-size:cover;
    background-repeat: no-repeat ;
    background-position: bottom;
    position: relative;
}
.hom_blank{
    max-width: 33.333%;
}
.home_main{
    width:66.6666% ;
    position: absolute;
    right: 0px;
}
.home_service{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
.home_content{
    margin: 20px 20px;
}
/* home_status */
.home_status{
    background-color: white;
    padding: 80px 0px;
    margin-left: 15px;
    margin-right: 15px;
}
.status_count{
    display: flex;
    margin:100px 0px;
}
.count_box{
    width: 25%;
}
.count{
   font-size: 46px;
   font-weight: 600;
   text-align: center !important;
}
.count_box p{
    text-transform: uppercase;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
}
.box_courses{
    border-left: 2px solid rgba(0, 0, 0, 0.192);
    border-right:2px solid rgba(0, 0, 0, 0.192);
}
.box_student{
    border-right:2px solid rgba(0, 0, 0, 0.192);
}
.feedback_avater{
    display: flex;
}
.avater_img img{
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-right: 10px;
}
.avater_content h4{
    margin-top: 8px;
    line-height: 16px;
    font-weight: 600;
    font-size: 1.25;
}
.avater_content p{
    font-size: 13px;
    margin-bottom: 10px;
}
.feedback_main{
    width: 33.333%;
    border-radius: 4px;
    box-shadow: 0 20px 62px rgba(128, 128, 128, 0.74);
    padding: 35px;
    margin: 15px;
}
.feedback_main>p::before{
    content: "“";
   font-size: 50px;
   color: red;
   font-family: initial;
}
.feedback_main>p::after{
    content: "“";
}
.home_feedback{
    display: flex;
    margin: 40px 55px 0px 55px;
}
.instructors_title{
   margin-top: 150px;
   margin-bottom: 30px;
}

.instructors_content{
    display: inline-block;
    margin-top: 50px;
    padding: px 10px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 20px 62px rgba(128, 128, 128, 0.295);
}
.intructors_img{
    padding: 10px;
    
}
.intructors_name{
    text-align: center;
}
.intructors_name h4{

}
.intructors_name>p{
    font-size: 13px;
    font-weight: 400;
}
.intructors_syboml{
    position: relative;
}
.syboml{
    width: 100%;
    background-color: rgba(128, 128, 128, 0.212);
    text-align: center;
    padding: 20px 0px;
    position: absolute;
    bottom: 0px;
    right: 50%;
    transform: translateX(50%);
    display: none;
    transition: 5s all;
}
.syboml>a{
    display: inline-block;
    text-align: center;
    margin: 0px 7px;

}
.syboml>a>i{
    width: 28px;
    height: 28px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    padding-top: 4px;
}
.instructors_content:hover .syboml{
    display: block;
}
/* home_intructor */
.home_instructors{
    margin-left: 60px;
    padding: 40px 0px;
}
.instructors_content{
    margin: 0px 15px;
}
.home_contact{
    display: flex;
    max-width: 1200px;
    margin-left: 65px;
    margin-top: 65px;
    margin-bottom: 55px;
}
.contact_content{
    margin-left: 55px;
}
.contact_img img{
    padding: 0px 15px;
}
.content_title{
    padding-top: 62px;
}
.content_title h2 {
    font-size: 35px;
    font-weight:600;
    line-height: 45px;
}
.content_title p{
    font-size: 16px;
    line-height: 28px;
    margin: 25px 0px;
}
.content_btn {
    padding: 14px 30px;
    font-weight: 600;
    font-size: 16px;
    color: white;
    background-color: rgba(255, 51, 0, 0.616);
   border-radius: 4px;
   border: none;
}
.home_email{
   display: flex;
   padding: 50px;
   max-width: 1000px;
   border-radius: 10px;
   box-shadow: 0px -1px 41px 0px rgba(21, 22, 23, 0.171);
   position: relative;
   bottom: -100px;
   left:50%;
   transform: translateX(-50%);
   z-index:10;
   background-color: white;
}
.email_content{
    max-width: 50%;
}
.email_content h2{
    font-size: 40px;
   line-height: 40px;
   font-weight: 500;
}
.email_content p{
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
}
.email_input{
    width: 100%;
    display: flex;
    padding: 0px 65px;
    margin-top: 20px;
}
#your_email{
    background: transparent;
    padding: 15px 20px;
    font-size: 16px;
    width: 100%;
    border-radius: 8px 0px 0px 8px;
    height: 55px;
    border: 1px solid rgba(128, 128, 128, 0.288);
}
.email_btn{
    border: none;
    color: white;
    padding: 16px 30px ;
    font-size: 16px;
    font-weight: 600;
    border-radius: 0 8px 8px 0;
    background: rgba(0, 0, 255, 0.788);
    display: inline-block;
    height: 55px;
}

    /* Home_footer */
.footer_main{

}
.home_footer{
    display: flex;
    background-color: #060e1f;
    padding: 165px 80px 80px;

}
.footer_link h4{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid rgba(23, 54, 88, 0.4);
    line-height: 20px;
    padding-bottom: 15px;
}
.footer_link>ul>li>a{
    font-size: 14px;
    line-height: 24px;
    color: #cecece;
    display: block;
    margin: 0 0 10px 0;
    text-decoration: none;
    cursor: pointer;
}
.footer_link>ul>li>a>i{
    font-size: 10px;
    margin: 0px 6px;
}
.colum_1{
    width: 22.222%;
}
.colum_2{
    width: 22.222%;
}
.colum_3{
    width: 22.222%;
}
.colum_4{
    border-left:1px solid rgba(255, 255, 255, 0.06) ;
    width: 33.3333%;
    margin-left: 20px;
    padding-left: 35px;
}
.colum_4 p{
    font-size: 14px;
    line-height: 24px;
    color: #cecece;
}
.colum_4 ul{
    list-style: none;
    display: flex;
}
.colum_4>ul>li{
    padding-top: 8px;
}
.colum_4>ul>li>a{
    width: 35px;
    height: 35px;
    color: #fff;
    background:rgba(255, 255, 255, 0.06) ;
    border-radius: 50%;
    text-align: center;
    margin: 0px 4px;
}
.colum_4>ul>li>a>i{
    font-size: 15px;
    line-height: 35px;
}
.home_video {
    text-align: center;
}
.home_video video{
    width: 800px;
    height: 450px;
}











